* {
    margin: 0;
    padding: 0;
    font-size: 1rem;
}

/*header section*/

#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ebf2f2;
}

#icon {
    display: flex;
    align-items: center;
    margin-left: auto;
    text-decoration: none;
    color: #66ad36;
}

.header__logo {
    width: 45px;
}

.spring__text {
    margin-left: 10px;
    padding-bottom: 10px;
    font-family: "Futura Md BT", sans-serif;
    font-size: 44px;
}

.by__spring__text {
    font-family: "Futura Bk BT", sans-serif;
    padding-top: 20px;
}

#navbar {
    margin-left: auto;
    width: 1044px;
}

.nav__list {
    display: flex;
}

.dropdown__button {
    position: relative;
    display: flex;
    align-items: center;
    font-family: sans-serif;
    font-weight: 600;
    font-size: .95rem;
}

.dropdown__button::after {
    content: "";
    margin-left: 10px;
    border: solid black;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
}

/*dropdown*/

.dropdown {

}

.dropdown__button {
    border: none;
    padding: 10px 15px;
    cursor: text;
}

.dropdown__content {
    display: none;
    position: absolute;
    background-color: #f8f8f8;
    padding: 16px;
    min-width: 160px;
    box-shadow: 0 7px 10px 7px rgba(108, 135, 135, 0.24);
}

.dropdown:hover .dropdown__content {
    display: block;
}

.dropdown__content a {
    font-family: "Open Sans", sans-serif;
    color: black;
    padding: 8px 16px;
    text-decoration: none;
    display: block;
}

#blue {
    color: cornflowerblue;
    padding-bottom: 35px;
}

.projects__text__tools {
    display: block;
    text-transform: uppercase;
    padding: 8px 16px;
    font-size: .75rem;
}

.dropdown__content a:hover, #blue:hover {
    color: #66ad36;
}

/*projects section*/

#projects {

}

.container {

}

.projects__header {
    width: 1350px;
    margin: 0 auto;
}

.projects__header h1 {
    margin-top: 88px;
    font-size: 3.5rem;
    font-family: sans-serif;
}

.description {
    font-family: "Open Sans", sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 2.2rem;
    margin-top: 20px;
    max-width: 920px;
}

.projects__list {
    background-color: #ebf2f2;
    padding-top: 48px;
    margin-top: 48px;
}

.projects__table {
    max-width: 57.5%;
    margin: 0 auto;
    box-sizing: inherit;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 20px;
}

.projects__table article {
    background-color: white;
    width: 47%;
    padding: 12px;
}

.projects__table article a:hover {
    box-shadow: 0 7px 10px 7px rgba(108, 135, 135, 0.24);
    margin-bottom: 5px;
    margin-top: -5px;
    transition: ease 0.2s;
}

.projects__table article a:not(:hover) {
    transition: ease 0.2s;
}

.projects__table a {
    border: 1px solid #d8f1ff;
    padding: 30px 0 10px 20px;
    width: auto;
    height: auto;
    text-decoration: none;
    color: black;
    display: flex;
}

.project__icon {
    width: 60px;
    height: 60px;
}

.project__text {
    padding-left: 20px;
    line-height: 1.7rem;
}

.project__text h2 {
    font-family: sans-serif;
    font-size: 1.5rem;
}

.project__text p {
    font-family: "Open Sans", sans-serif;
    padding: 12px 0 12px 0;
    width: 97%;
    word-wrap: normal;
}
